@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

body {
    background: #eee;
    margin: 0;
    font-family: 'Noto Sans Display';
    font-weight: 400;
    color: #777;
    perspective: 1000px;
    perspective-origin: 0px;
    transform: translate3d(22, 34, 44);
    transform-origin: center center;
}

div {
    position: relative;
}

a:link,
a​:visited,
a​:active {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

a:hover {
    color: rgb(27, 27, 27);
    font-weight: normal;
}

.block {
    max-width: 1200px;
    background: #fff;
    width: 90vw;
    padding: 15px;
    box-shadow: 1px 1px 3px #0003;
    position: relative;
    min-height: 150px;
    border-radius: 4pt;
    margin: 20px auto;
    transition: all .2s ease-in-out 0s;
    z-index: 0;
}

.block:hover {
    z-index: 1;
}

.block-title {
    font-size: 24px;
    color: #444;
    font-style: italic;
    font-weight: 600;
}

ul#nav {
    list-style: none;
    display: block;
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: -1px 1px 5px 0px #0004;
    width: 65vw;
    margin: 20px auto;
}

ul#nav li {
    display: inline-block;
    width: 207px;
    cursor: pointer;
}

ul#nav li span {
    text-align: center;
    margin: 0px 9px 0px 0px;
    padding: 15px;
    border-radius: 25px;
    transition: all .2s ease-in-out;
    display: block;
    border: 1px dashed #000;
    background-color: #fff;
}

ul#nav li a:hover {
    transform: rotate(-7deg);
}

ul.summary {
    margin: 10px 0px 0px;
    padding: 0px;
}

ul.summary>li {
    list-style: "-";
    padding-left: 10px;
}

span.sub-title {
    font-size: 14pt;
    padding-right: 10pt;
    color: #444;
    font-weight: 600;
}

#major_projects ul.summary>li {
    list-style: none;
    margin-bottom: 16px;
    background-color: #fefefe;
    box-shadow: 3px 4px 2px -2px #cccd;
    padding: 15px;
    border: 1px #efefef solid;
}

#major_projects ul.summary>li>ul>li {
    list-style: disc;
}

.block li {
    line-height: 1.5em;
}

#header {
    margin: 75px auto 0px;
    z-index: 99;
}

.info span.title {
    width: 75px;
    display: inline-block;
}

#my-image {
    background-image: url(../images/me.jpg);
    width: 225px;
    height: 225px;
    background-size: 500px auto;
    background-position: 45% -23px;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    right: 50px;
    border: 15px solid #eee;
}

name {
    font-size: 55px;
    display: block;
}

email {
    font-size: 24px;
    color: #888;
}
